{{!< default}}

<div class="gh-outer">
  <main class="site-main gh-inner">
    <section class="pg-home-highlight">
      <div class="pg-home-programs">
        <ul>
          {{#get "posts" filter="tag:programas" limit="2"}}
            {{#foreach posts}}
            <li>
              <a href="{{url}}" data-event="pg-home-programs" class="pg-programs-img"><img src="{{feature_image}}" alt="{{feature_image_alt}}"></a>
              <h3><a href="{{url}}">{{title}}</a></h3>
            </li>
            {{/foreach}}
          {{/get}}
        </ul>
      </div>

      {{#get "posts" filter="tags:episodios" limit="1" include="authors"}}
        {{#foreach posts}}
          <div class="pg-featured-home">
            <a href="{{url}}" data-event="pg-featured-post-image">
              <img src="{{feature_image}}" alt="{{feature_image_alt}}">
            </a>
            <a href="{{url}}" data-event="pg-featured-post-title" class="pg-featured-link">
              <h1>{{title}}</h1>
            </a>
          </div>
        {{/foreach}}
      {{/get}}

      <div class="pg-latest-posts">
        <ul>
          {{#get "posts" filter="tag:episodios" limit="3" include="authors"}}
            {{#foreach posts from=2 limit=3}}
            <li>
              <a href="{{url}}" data-event="pg-recent-posts" class="pg-latest-post-img"><img src="{{feature_image}}" alt="{{feature_image_alt}}"></a>
              <h3><a href="{{url}}">{{title}}</a></h3>
            </li>
            {{/foreach}}
          {{/get}}
        </ul>
      </div>
    </section>

    <section class="pg-categories u-section-margin">
      <h2 class="u-section-title">Categorias</h2>
      <div class="u-inner">
        <ul>
          {{#get "tags" as |categories|}}
            {{#foreach categories}}
              <li>
                <a class="pg-topic-item" href="{{url}}">
                  <h3 class="pg-topic-name">{{name}}</h3>
                </a>
              </li>
            {{/foreach}}
          {{/get}}
        </ul>
      </div>
    </section>

    <section class="pg-platforms u-section-margin">
      <h2 class="u-section-title">Onde ouvir</h2>
      <div class="u-inner">
        <div class="subscribe{{#if is_popup}} popup{{/if}}">
          {{#if @custom.apple_podcasts_link}}
            <a href="{{@custom.apple_podcasts_link}}" class="subscribe-link" target="_blank" rel="noopener noreferrer">
                {{> "icons/apple"}}
                <span class="subscribe-text">Apple</span>
            </a>
          {{/if}}
          {{#if @custom.google_podcasts_link}}
            <a href="{{@custom.google_podcasts_link}}" class="subscribe-link" target="_blank" rel="noopener noreferrer">
                {{> "icons/google"}}
                <span class="subscribe-text">Google</span>
            </a>
          {{/if}}
          {{#if @custom.spotify_link}}
            <a href="{{@custom.spotify_link}}" class="subscribe-link" target="_blank" rel="noopener noreferrer">
                {{> "icons/spotify"}}
                <span class="subscribe-text">Spotify</span>
            </a>
          {{/if}}
          <a href="{{#if @custom.rss_link}}{{@custom.rss_link}}{{else}}{{@site.url}}/rss{{/if}}" class="subscribe-link rss" target="_blank" rel="noopener noreferrer">
            {{> "icons/rss"}}
            <span class="subscribe-text">RSS</span>
          </a>
        </div>
      </div>
    </section>

    <section class="pg-recommended u-section-margin">
      <h2 class="u-section-title">Recomendados</h2>
      <div class="u-inner">
        <ul>
          {{#get "posts" filter="featured:true" limit="4" as |featured|}}
          {{#foreach featured}}
          <li>
            <a href="{{url}}" alt="{{meta_description}}">
              <figure><img src="{{feature_image}}" alt="{{feature_image_alt}}"></figure>
            </a>
          </li>
          {{/foreach}}
          {{/get}}
        </ul>
      </div>
    </section>

    <div id="pg-last-section" class="gh-wrapper gh-wrapper-home">
      <section class="pg-articles">
        <h2 class="u-section-title">Artigos</h2>
        <div class="u-inner">
          {{#get "posts" filter="tag:artigos" limit="5" as |article|}}
          {{#foreach article}}
            <a href="{{url}}" alt="{{meta_description}}">
              <h3>{{title}}</h3>
            </a>
          {{/foreach}}
          {{/get}}
        </div>
      </section>

      <section class="pg-others">
        <h2 class="u-section-title">Outros conteúdos</h2>
        <div class="u-inner">
          {{#get "posts" filter="tags:[workshops,videos,ebooks]" limit="5" as |others|}}
          {{#foreach others}}
            <a href="{{url}}" alt="{{meta_description}}">
              <h3>{{title}}</h3>
            </a>
          {{/foreach}}
          {{/get}}
        </div>
      </section>

      <aside>
        <div class="pg-sidebar-banner">
          <a href="https://bit.ly/livro-banner-diegoeis" data-event="click_banner_sidebar"><img  alt="Livro Gestão Moderna produtos digitais" src="https://i.imgur.com/Hr5WSvJ.png"></a>
        </div>
      </aside>
    </div>
  </main>
</div>